<div id="">
    <div id="hme_cnt_dv" style="padding-top:30px;"> 
    
    	<div class="outer">
          <div class="middle">
            <div class="inner">       
        <form id="changePasswordForm" name="changePasswordForm">
            <div id="mid_hme_lcnt_dv">
        		<toaster-container toaster-options="{'time-out': 3000, 'position-class':'toast-top-full-width'}"></toaster-container>
                <div id="reset_dv">
                    <div class="hd">
                        <div class="logo"><i class="icon-lock"></i> Change Password</div>
                    </div>
                    <div class="cnt">
                        <div class="update-field">
                            <label>New Password&nbsp;<a class="sml" title="This is your New Password to be used when signing into the portal.">(what's this?)</a>:</label>
                            <input type="password" id="new_password" name="new_password" class="m-wrap" ng-model="change.new_password" required focus value="">
                        </div>
                        <div class="update-field">
                            <label>Confirm Password&nbsp;<a class="sml" title="This is your New Password to be used when signing into the portal.">(what's this?)</a>:</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="m-wrap" ng-model="change.confirm_password" required focus value="">
                        </div>
                        <div class="update-field">
                            <label>Secret Question&nbsp;<a class="sml" title="This is the secret question selected when you changed your password.">(what's this?)</a>:</label>
                            <select id="secret_question" name="secret_question" ng-model="change.secret_question" data-ng-options="question.question for question in secret_questions" class="m-wrap" required>
                            	<option value="">Select Your Secret Question</option>
                            </select>
                        </div>
                        <div class="update-field">
                            <label>Secret Question Answer:</label>
                            <input type="text" id="secret_answer" name="secret_answer" ng-model="change.secret_answer" class="m-wrap" required value="">
                        </div>
                        <div class="sub_btns">
                            <button class="m-btn blue"  ng-click="doChangePassword(change)" data-ng-disabled="changePasswordForm.$invalid">&nbsp;&nbsp;&nbsp;&nbsp;Change Password&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
        </div>
    </div>

    
</div>