<div style="margin:auto; margin-top:0; margin-bottom:0px; min-height:500px; width:100%;">
    <div id="hme_cnt_dv" class="tp_cnt_dv">
        <div class="hd">
            Add new Course of Studies
        </div>
        
        
        <div class="cnt_vl" style="margin-top:20px; font-size:14px;">
            <div id="mainp_quote" style="">
                <ul class="side_mnu_cnt" style="">
                    <li class="side_mnu" ng-class="{active_mnu:add_multiple}"><a href="" ng-click="openAddMultipleDv()">Course Registration Template</a></li>
                </ul>
            </div>
            
        	<div id="mainp_note" class="hme_lcnt_dv" style="position:relative; width:600px; float:left;">
                <toaster-container toaster-options="{'time-out': 3000, 'position-class':'toast-top-full-width'}"></toaster-container>
                
                
                <div ng-if="add_multiple">
                	<h4>Course Registration Template</h4>
                    
                    <h5 style="font-size:15px; font-weight:bold">Download Template</h5>
                    <p style="width:100%; float:left"> This template is a blueprint of the students' registered courses. It is meant to be populated and uploaded as bulk records after the download. A sample record is entered into the Microsoft Excel workbook as a guide</p>
                    <p style="width:100%; float:left"><a href="generatedexcel/course-registration.xlsx" class="m-btn green"><i class="icon icon-download-alt"></i> &nbsp; Download Template</a></p>
                    
                    
                     <p>
                    <a href="#/admin/registration/add-multiple-registrations" class="green">Upload the Populated students' registered courses</a>
                   
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

    
</div>