
    <div style="margin:auto; margin-top:0; margin-bottom:0px; height:400px; width:100%; color:black">
    <div id="hme_cnt_dv" class="l1 tp_cnt_dv">
    <br />
    	<span style="font-size:14px; color:black; margin-left:20px"></span>
        <h3 style="display:inline; color:#03F; float:right; margin-right:20px"> Mr. George Evans </h3>
        <h3 style="padding:20px">Quality Assurance Directorate</h3>
        <p style="margin:0px 20px; font-size:16px; text-align:justify; line-height:20px; ">Build intelligent computer systems in order to learn from dataset available to it. It encompasses a wide spectrum of fields which are categorized into: supervised, semi-supervised and unsupervised learning.  Supervised learning is the machine learning task of learning a function that maps an input to an output based on example input-output pairs.  It infers a function from labeled training data consisting of a set of training examples. Semi-supervised learning is an approach to machine learning that </p>
    </div>

    <div id="bt_cnt_dv">
    	<div id="mainp_note">
        	
        </div>
        
        
    </div>
</div>